{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container mt-5">
        <div class="content-section mx-auto mt-5">
            <h2>Welcome to Logger!</h2>
            <div class="border-top pt-3">
                <h4>Create your account and save your details!</h4>
                <h4>You can view your details.</h4>
            </div>
            <div class="border-top pt-3">
                <div class="row">
                    <a href="{% url 'users-login' %}"><button class="btn btn-outline-primary ml-3 mr-3">Log In</button></a>
                    <a href="{% url 'users-register' %}"><button class="btn btn-outline-primary">Register</button></a>
                </div>    
            </div>
        </div>
    </div>

{% endblock %}